.session-checkbox-holder{
    position: relative;
    left: 10px;
    top: 10px;
  }
  
  .session-checkbox-holder input[type=checkbox]:disabled{
    width: 15px;
    height: 15px;
  }
  

  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
